.varbar{
    position: fixed;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    padding:20px;
    max-height: 70px;
    /** max-height/max-width/min-height/min-width 应该用px来给出固定值，而height/width。尤其width需要给出百分比 */
}

.sidebar{
    top: 65px;
    /** 根据inspeciton给出的varbar的高度给出top的固定px值：注意top/left/right/bottom都应该给出固定px值 */
    position: fixed;
    width:10%;
    border:1px solid black;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:start;
    padding:10px;
    height: calc(100vh - 65px);
    /** calc可以计算数值，其中100vh的意思就是100%屏幕垂直高度的意思，同样的还有100vw，即100%屏幕水平宽度 */
}


.itme{
    width: 50px;
    height:50px;
    margin:10px;
    border:1px solid blue;
}

.left{
    border: 1px solid red;
    width: 20%;
}

.right{
    border:1px solid red;
    width: 10%;
}

body {
    margin: 0px;
}